<div class="main">
  <div
    class="background-container"
    style="
      background-image: url('assets/Background2.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
  >
    <div class="title">
      <div class="text-title">
        <img src="assets/logoANI.svg" alt="Logo" />
        <h1>
          ANI aplicación de debates y generación de <br />
          grafos de conocimiento
        </h1>
      </div>
    </div>
    <div class="details-container">
      <h1>Proyecto De Investigación</h1>
      <div class="detail-item">
        <img src="assets/software.svg" class="icon" />
        <span>Carrera de desarrollo de Software</span>
      </div>
      <div class="detail-item">
        <img src="assets/place.svg" class="icon" />
        <span>Instituto Tecnológico Superior Sudamericano</span>
      </div>
      <div class="detail-item">
        <img src="assets/map.svg" class="icon" />
        <span>Cuenca</span>
      </div>
      <div class="detail-item">
        <img src="assets/cell.svg" alt="Imagen 2" class="icon" />
        <span>App Debates</span>
      </div>
    </div>
    <div class="button">
      <app-button></app-button>
    </div>
  </div>
  <div class="mission-vision">
    <div class="container-mission">
      <h1>Aplicación Móvil</h1>
      <div class="text-mission">
        <p>
          Los estudiantes pueden acceder a sus salas de debate y participar
          activamente a través de grabaciones de audio. Esta aplicación permite
          una interacción fluida, brindando herramientas para estructurar sus
          argumentos y responder a sus compañeros en un entorno académico.
        </p>
      </div>
    </div>
    <div class="container-vision">
      <h1>Aplicación Web</h1>
      <div class="text-vision">
        <p>
          Dirigida a docentes y administradores, facilita la creación y gestión
          de debates, la asignación de estudiantes a salas y la revisión de
          transcripciones. Además, permite visualizar grafos de interacción para
          analizar la dinámica del debate.
        </p>
      </div>
    </div>
  </div>
  <div class="principles-information">
    <div class="information">
      <img src="assets/ANI.png" />
    </div>
    <div class="principles">
      <div class="objective">
        <h1>Enfoque Educativo</h1>
        <p>
          ANI está diseñada para fomentar el pensamiento crítico y el debate
          académico. Su estructura permite un aprendizaje basado en la
          argumentación, promoviendo el desarrollo de habilidades de
          comunicación y análisis en los estudiantes.
        </p>
        <div class="text-objective">
          <h1>Metodología de Uso</h1>
          <p>
            Los docentes crean debates, configuran salas, asignan estudiantes y
            establecen los temas de discusión.<br />
            Los estudiantes participan grabando sus argumentos en la aplicación
            móvil, lo que facilita un debate estructurado.
          </p>
          <p>
            La plataforma genera transcripciones y grafos de interacción para
            analizar la dinámica del debate. Con esta información, los docentes
            pueden evaluar el desempeño de los estudiantes y brindar
            retroalimentación para mejorar sus habilidades argumentativas.
          </p>
        </div>
        <div class="button">
          <app-button></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>