.container {
  text-align: center;
}

.register-btn {
  background-color: #ffffff;
  color: #bf1650;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-family: "IBM Plex Sans", "Roboto Slab", "Orienta";
  width: auto;
  display: inline-block;
  transition: all 0.5s ease; 
}

.register-btn:hover {
  background-color: #000000; 
  color: #ffffff; 
  transform: scale(1.1); 
}

.button-container {
  position: absolute;
  text-align: center;
  z-index: 2;
}
