  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="app-text.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
  </head>

  <div class="firts"> 
    <app-carousel></app-carousel>

  <div class="container1">
    <h1>Herramientas Educativas ANI</h1>
  </div>

  <div class="image1">
    <img src="assets/image ANI1.svg">
    <h1>APLICACION DESKTOP PARA ESTUDIANTES</h1>
    <p>Con ANI, los estudiantes pueden realizar actividades de aprendizaje de manera interactiva y divertida.</p>
  </div>

  <div class="image2">
    <img src="assets/proposity2.png">
    <h1>APLICACION MOBILE PARA DOCENTES</h1>
    <p>Con ANI, los docentes pueden crear actividades de aprendizaje personalizadas para sus estudiantes.</p>
  </div>

  <!-- </div>
    <div class="button">
      <app-button></app-button> 
  </div> -->

  

  <!-- Botón final -->
  <!-- <div class="button-container2">
    <app-button></app-button>
  </div> -->

  <!-- <div class="footer">
    <app-footer></app-footer>
  </div> -->