.container1 h1{
  width: auto;
  height: 8vh;
  background-color: #00000094;
  position: relative;
  display: flex;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 35%;
  font-style: italic;
}

.image1 {
  flex: 1;
  padding-top: 3%;
  text-align: left;
}

.image1 img {
position: relative;
  width: 45%;
  height: 35%;
  border-radius: 15px;
  left: 50px;
}

.image1 h1{
  color: white;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  padding-left: 5%;
  font-size: 20px;
}

.image1 p {
  margin-top: 10px;
  color: white;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  padding-left: 5%;
  font-size: 15px;
}

.image2 {
  flex: 1;
  padding-top: 3%;
  text-align: left;
}

.image2 img {
position: relative;
  width: 43%;
  height: 35%;
  border-radius: 15px;
  left: 900px;
  bottom: 706px;
}

.image2 h1{
  position: absolute;
  color: white;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  padding-left: 5%;
  font-size: 20px;
  top: 1500px;
  left: 900px;
}

.image2 p {
  position: absolute;
  margin-top: 10px;
  color: white;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  padding-left: 5%;
  font-size: 15px;
  top: 1540px;
  left: 850px;
}