  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="app-text.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orienta&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
  </head>

  <div class="firts"> 
    <app-carousel></app-carousel>
  </div>

  <div class="container1">
    <h1>Herramientas Educativas ANI</h1>
  </div>

  <div class="square">
    <p>ANI es una herramienta de inteligencia artificial diseñada para transformar la educación matemática. Utiliza la teoría del conectivismo para esquematizar conceptos matemáticos en grafos de conocimiento, lo que ayuda a educadores e investigadores a crear experiencias de aprendizaje más dinámicas y efectivas. Con funciones para transcribir debates y ofrecer retroalimentación interactiva, ANI busca mejorar la comprensión y la retención de conocimientos en la educación matemática, impulsando así la competitividad laboral y la innovación tecnológica.</p>
  </div>
  
<div class="row">
  <div class="column1">
    <img src="assets/image ANI1.svg" alt="Imagen 1">
    <h3>Aplicación Desktop Para Estudiantes</h3>
    <p>ANI mejora el aprendizaje de matemáticas, ofreciendo visualización de conceptos y <br> retroalimentación instantánea mediante inteligencia artificial. </p>
  </div>
  <div class="column1">
    <img src="assets/proposity2.png" alt="Imagen 2">
    <h3>Aplicación Mobile Para Profesores</h3>
    <p>ANI facilita la enseñanza con herramientas avanzadas de IA y acceso a materiales <br> educativos desde dispositivos móviles.</p>
  </div>
</div>

<div class="section">
  <div class="title-container">
    <h2>Caracteriticas Principales</h2>
  </div>
  
  <div class="row main-ponetes">
    <div class="main-card">
      <img src="assets/p.pricipal.png" alt="Imagen 3">
      <p class="text-title">Ponente Principal </p>
      <p>Ver más...</p>
    </div><br>
    <div class="main-card">
      <img src="assets/p.principal2.png" alt="Imagen 4">
      <p class="text-title">Ponente Principal </p>
      <p>Ver más...</p>
    </div>
  </div>          
</div>

<div class="section">
  <div class="title-container2">
    <h2>Navegación en ANI: Gestión y Funciones</h2>
  </div>
  <div class="row three-columns">
    <div class="column">
      <div class="card">
        <img src="assets/image.svg" alt="Imagen 5">
        <div class="card-details">
          <p class="text-title2">Inicio de Sesión en ANI</p>
          <p class="text-body">Interfaz para ingresar al sistema utilizando un correo institucional y una contraseña.</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/image 1.svg" alt="Imagen 6">
        <div class="card-details">
          <p class="text-title2">Gestión de Usuarios en ANI</p>
          <p class="text-body">Interfaz para gestionar usuarios, con opciones para agregar y cargar datos de usuarios.</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/image 2.svg" alt="Imagen 7">
        <div class="card-details">
          <p class="text-title2">Salas en ANI</p>
          <p class="text-body">Lista de salas para gestionar debates y discusiones, con opciones para ver, editar o eliminar cada sala.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row three-columns">
<div class="column">
  <div class="card2">
    <img src="assets/image 3.svg" alt="Imagen 5">
    <div class="card-details">
      <p class="text-title2">Instituciones en ANI</p>
      <p class="text-body">ista instituciones, con opciones para editar, eliminar o ver detalles de cada una.</p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card2">
    <img src="assets/image 4.svg" alt="Imagen 6">
    <div class="card-details">
      <p class="text-title2">Roles en ANI</p>
      <p class="text-body">Gestiona roles como admin, estudiante y profesor, con opciones para editar, ver y eliminar.</p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card2">
    <img src="assets/image 5.svg" alt="Imagen 7">
    <div class="card-details">
      <p class="text-title2">Permisos en ANI</p>
      <p class="text-body">Administra permisos como MANAGE_USERS, CREATE_ROOM, VIEW_ANALYTICS y EXPORT_DATA, con opciones para editar, ver o eliminar.</p>
    </div>
  </div>
</div>
</div>

  <div class="button2">
    <app-button></app-button>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>