.container1 h1 {
  width: auto;
  height: 8vh;
  background-color: #00000094;
  position: relative;
  display: flex;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 35%;
  font-style: italic;
}

.square {
  width: 80%;
  height: 70%;
  padding: 25px;
  background-color: #7206596b;
  order: 2px solid #c3c6ce43;
  border-radius: 30px;
  border: 2px solid #c3c6ce43;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
  text-align: justify;
  margin-left: 150px;
  margin-top: 10px;
}

.row {
  top: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column1 {
  flex: 1;
  padding-top: 3%;
  text-align: left;
}

.column1 img {
  width: 45vw;
  height: 35vw;
  padding-left: 4%;
}

.column1 h3 {
  text-align: left;
  margin-left: 100px;
  font-size: 20px;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  color: white;
}

.column1 p {
  margin-top: 10px;
  color: white;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  padding-left: 7%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.fadeInUp {
  opacity: 0; 
  animation: fadeInUp 1.5s ease-out forwards; 
}


.delay-1 {
  animation-delay: 0.7s; 
}

.delay-2 {
  animation-delay: 0.9s; 
}

.title-container {
  width: auto;
  height: 8vh;
  background-color: #00000094;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 3%;
  font-style: italic;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
}

.title-container2 {
  width: auto;
  height: 8vh;
  background-color: #00000094;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 4%;
  font-style: italic;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
}

.main-ponetes {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 20px 0;
}

.main-card {
  width: 32vw;
  height: 28vw;
  border-radius: 20px;
  background: #47023793;
  position: relative;
  padding: 20px;
  border: 2px solid #c3c6ce23;
  transition: 0.5s ease-out;
  overflow: hidden;
  text-align: center;
  margin: 0 20px;
}

.main-card img {
  width: 60%;
  height: 70%;
  border-radius: 15px;
}

.main-card p {
  color: white;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  text-align: left;
  font-size: 17px;
}

.main-card h3 {
  color: white;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  text-align: left;
  font-size: 20px;
}

.card {
  width: 20vw;
  height: 27vw;
  border-radius: 20px;
  background: #47023793;
  position: relative;
  padding: 1.9rem;
  border: 2px solid #c3c6ce43;
  overflow: hidden;
  font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  padding-left: 1%;
}

.card-details {
  color: #fff;
  height: 100%;
  display: grid;
  place-content: center;
  text-align: center;
}

.text-title2 {
  margin-bottom: 1%;
}

.text-body {
  color: #fefbfb;
}

.text-title {
  font-weight: bold;
  font-size: 22px;
  margin-left: 1%;
}

.button2 {
  position: relative;
  margin-left: 45%;
}

.footer {
  position: relative;
  width: 100%;
  height: 100%;
  top: 100px;
}

@media (max-width: 768px) {
  .container1 h1 {
      position: relative;
      font-size: 25px;
      margin-top: 125%;
    }

  .square {
    width: 80%;
    height: auto;
    font-size: 12px;
    margin-left: 23px; 
  }
  
  .row {
    flex-direction: column;
    align-items: center;
  }

  .column1 {
    width: 100%;
    text-align: center;
  }

  .column1 img {
    width: 80vw;
    height: 60vw;
  }

  .column1 h3 {
    font-size: 18px;
    margin-left: 0;
    text-align: center;
  }

  .column1 p {
    position: relative;
    text-align: left;
    margin-left: 5px;
    color: white;
    font-family: 'IBM Plex Sans', 'Roboto Slab', 'Orienta';
    padding-left: 10%;
  }

  .title-container2 {
    font-size: 14px;
  }
  
  .main-ponetes {
    flex-direction: column;
    align-items: center;
  }

  .main-card {
    width: 70vw;
    height: 75vw;
    margin: 5px;
  }
  
  .card{
    width: 70vw;
    height: 120vw;
    margin: 20 0px;
  }

  .card2{
    width: 70vw;
    height: 110vw;
    margin: 20 0px;
  }
  
  .button2 {
    position: relative;
    margin-left: 33%;
  }
  
  .footer {
    position: relative;
    width: 100%;
    height: 100%;
  }  
}